form(name='newProjectForm', novalidate)
  .row
    .col-xs-offset-1.col-xs-10
      h1 Create A New Project
    .col-xs-1
  .row
    .col-xs-offset-1.col-xs-10
      .form-group
        label.bold Name:
        input.form-control#projectName(ng-model='project.name' required)
      .form-group
        label.bold Core Concept:
        select.form-control#projectConcepts(ng-model='project.concepts')
          option(value='' disabled)
          option(value='Core Javascript') Core Javascript
          option(value='Node.js') Node.js
          option(value='AngularJS') AngularJS
          option(value='Angular2') Angular2
          option(value='ExpressJS') ExpressJS
          option(value='MongoDb/Mongoose') MongoDb / Mongoose
          option(value='MEAN') MEAN
          option(value='jQuery') jQuery
          option(value='AJAX') AJAX
          option(value='Firebase') Firebase
          option(value='React') React
          option(value='Authentication') Authentication
          option(value='Pair Programming') Pair Programming
          option(value='es6') es6
          option(value='TDD') TDD
          option(value='Webpack') Webpack
      .form-group
        label.bold Technology Used (select all that apply):
        select.form-control#sel
          option(value='' disabled)
          option(value='Core Javascript') Core Javascript
          option(value='Node.js') Node.js
          option(value='AngularJS') AngularJS
          option(value='Angular2') Angular2
          option(value='ExpressJS') ExpressJS
          option(value='MongoDb/Mongoose') MongoDb / Mongoose
          option(value='MEAN') MEAN
          option(value='jQuery') jQuery
          option(value='AJAX') AJAX
          option(value='Firebase') Firebase
          option(value='React') React
          option(value='Authentication') Authentication
          option(value='Pair Programming') Pair Programming
          option(value='es6') es6
          option(value='TDD') TDD
          option(value='Webpack') Webpack
        textarea.form-control#projectTech(ng-model='project.tech', rows='3', cols='50')
      .form-group
        label.bold Requirements:
        textarea.form-control#projectRequirements(ng-model='project.requirements', rows='3', cols='50')
      .form-group
        label.bold Notes:
        input.form-control#projectNotes(type='string' ng-model='project.notes' placeholder='Enter Google Sheets Sharable Link Here')
      .form-group
        label.bold GitHub URL:
        input.form-control#projectNotes(type='url' ng-model='project.githubURL' placeholder='Enter GitHub Link Here')
      .form-group
        label.bold Pros:
        textarea.form-control#projectPros(ng-model='project.pros', rows='6', cols='50')
      .form-group
        label.bold References:
        textarea.form-control#projectReferences(ng-model='project.references', rows='3', cols='50')
      .form-group
        label.bold Alternatives:
        textarea.form-control#projectAlternatives(ng-model='project.alternatives', rows='3', cols='50')
      .form-group
        label.bold Deployment Instructions:
        textarea.form-control#projectDeployment(ng-model='project.deployment', rows='6', cols='50')
  .row.col-xs-offset-1
    .col-xs-10
      .form-group
        button.btn.btn-default.btn-lg(ng-if='newItem' ng-click='submit(project)') Save
        button.btn.btn-default.btn-lg(ng-if='editItem' ng-click='update(project)') Save Edits
