.row
  h4 Admin Accounts
  .col-xs-12.borderRight
    .filter.col-xs-12
      label
        | Filter: 
        input(ng-model='searchtext')
.row
  .col-xs-12
    table.table-bordered.table-hover
      tr
        th.userListBox.cursor(ng-click="predicate='username'; reverses=!reverse") Username
        th.userListBox.cursor(ng-click="predicate='displayName'; reverse=!reverse") Name
        th.userListBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Join Date
        th.userListBox.cursor Move to Students
      tr.cursor(ng-repeat='admin in admins | orderBy:predicate:reverse | filter: searchtext' ng-click='viewOneAssignment(pastAssignment._id)')
        td.userListBox.textCenter {{admin.username}}
        td.userListBox {{admin.displayName}}
        td.userListBox.textCenter {{admin.createdAt | date:'MMM d, y'}} &nbsp;
        td: h5.cursor.textCenter(ng-click='toggleAdminOff()') Admin: {{admin.adminUser}}
          .glyphicon.glyphicon-arrow-down
.row
  .col-xs-12
    table.table-bordered.table-hover
      tr
        th.userListBox.cursor(ng-click="predicate='username'; reverse=!reverse") Username
        th.userListBox.cursor(ng-click="predicate='displayName'; reverse=!reverse") Name
        th.userListBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Join Date
        th.userListBox.cursor Move to Students
      tr.cursor(ng-repeat='student in students | orderBy:predicate:reverse | filter: searchtext' ng-click='viewOneAssignment(pastAssignment._id)')
        td.userListBox.textCenter {{student.username}}
        td.userListBox {{student.displayName}}
        td.userListBox.textCenter {{student.createdAt | date:'MMM d, y'}} &nbsp;
        td: h5.cursor.textCenter(ng-click='toggleAdminOn()') Admin: {{admin.adminUser}}
          .glyphicon.glyphicon-arrow-down
