.row
  .col-xs-12
    h4 Admin Accounts
    button(ng-if="!adminShow" ng-click="toggleAdmins()") Show Admins
    button(ng-if="adminShow" ng-click="toggleAdmins()") Hide Admins
    .row(ng-show="adminShow")
      .col-xs-12.logInButton
        label
          | Filter:
          input(ng-model='adminList')
    table.table-bordered.table-hover(ng-show="adminShow")
      tr
        th.userListBox.cursor(ng-click="predicate='username'; reverses=!reverse") Username
        th.userListBox.cursor(ng-click="predicate='displayName'; reverse=!reverse") Name
        th.userListBox.cursor.textCenter(ng-click="predicate='createdAt'; reverse=!reverse") Join Date
        th.userListBox.cursor.textCenter Move to Students
      tr.cursor(ng-repeat='admin in admins | orderBy:predicate:reverse | filter: adminList')
        td.userListBox(ng-click='showAdmin()') {{admin.username}}
        .studentInfo
          td.userListBox(ng-click='showAdmin()') {{admin.displayName}}
          td.userListBox.textCenter(ng-click='showAdmin()') {{admin.createdAt | date:'MMM d, y'}} &nbsp;
          td: h5.cursor.textCenter(ng-click='toggleAdminOff()') Admin: {{admin.adminUser}}
            .glyphicon.glyphicon-arrow-down
.row.newCohortForm
  .col-xs-12
    h4 Student Accounts
    button(ng-if="!studentShow" ng-click="toggleStudents()") Show Students
    button(ng-if="studentShow" ng-click="toggleStudents()") Hide Students
    .row(ng-show="studentShow")
      .col-xs-12.logInButton
        label
          | Filter:
          input(ng-model='studentList')
    table.table-bordered.table-hover(ng-show="studentShow")
      tr
        th.userListBox.cursor(ng-click="predicate='username'; reverse=!reverse") Username
        th.userListBox.cursor(ng-click="predicate='displayName'; reverse=!reverse") Name
        th.userListBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Join Date
        th.userListBox.cursor Move to Students
      tr.cursor(ng-repeat='student in students | orderBy:predicate:reverse | filter: studentList')
        td.userListBox.textCenter(ng-click='showUser()') {{student.username}}
        .studentInfo
          td.userListBox(ng-click='showUser()') {{student.displayName}}
          td.userListBox.textCenter(ng-click='showUser()') {{student.createdAt | date:'MMM d, y'}} &nbsp;
          td: h5.cursor.textCenter(ng-click='toggleAdminOn()') Admin: {{admin.adminUser}}
            .glyphicon.glyphicon-arrow-up
.row.newCohortForm
  .col-xs-12
    h4 Saved Cohorts
    button(ng-if="!cohortShow" ng-click="toggleCohorts()") Show Cohorts
    button(ng-if="cohortShow" ng-click="toggleCohorts()") Hide Cohorts
.row(ng-show="cohortShow")
  .col-xs-12.logInButton
    label
      | Filter:
      input(ng-model='cohortList')
    button.btn.btn-xs.btn-info.leftMargin(ng-if="cohortShow" type='button' data-toggle='modal' data-target='#cohortModal') Create a new Cohort
    h4.bold Saved Cohorts:
    table.table-bordered.table-hover
      tr
        th.userListBox.cursor(ng-click="predicate='cohortName'; reverse=!reverse") Cohort Name
        th.userListBox.cursor.textCenter(ng-click="predicate='studentNumber'; reverse=!reverse") # of Students
        th.userListBox.cursor.textCenter(ng-click="predicate='createdAt'; reverse=!reverse") Created
        th.userListBox.cursor Edit
        th.userListBox.cursor Delete
      tr(ng-repeat='cohort in cohorts | orderBy:predicate:reverse | filter: cohortList')
        td.userListBox.cursor(ng-click='showOneCohort()') {{cohort.cohortName}} &nbsp;
        td.userListBox.cursor.textCenter(ng-click='showOneCohort()') {{cohort.studentNumber}} &nbsp;
        td.userListBox.cursor.textCenter(ng-click='showOneCohort()') {{cohort.createdAt | date:'MMM d, y'}} &nbsp;
        td: button.btn.btn-xs.btn-warning.i.fa.fa-edit.cohortBox.cohortBoxButtons.textCenter(ng-click='editCohortModal();' type='button' data-toggle='modal' data-target='#cohortModal')
        td: button.btn.btn-xs.btn-danger.i.fa.fa-trash.cohortBox.cohortBoxButtons.textCenter(ng-click='deleteCohort(); $event.stopPropagation();')
#cohortModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title(ng-if='isEdit') Edit Cohort
        h4.modal-title(ng-if='!isEdit') New Cohort
      .modal-body
        .row
          .col-xs-11
            .form-group
              label.bold Title:
                input.form-control.inputButton#projectName(ng-model='modalCohort.cohortName')
              label.bold Cohort Email
                input.form-control.inputButton#projectName(ng-model='modalCohort.cohortEmail')
              button.btn.btn-success.btn-lg.cohortBoxButtons(ng-click='saveNewCohort(modalCohort)' ng-hide='isEdit') Submit
              button.btn.btn-success.btn-lg(ng-click='updateCohort(cohort)' ng-show='isEdit') Update
        .row
          .col-xs-12
            .filter
              label
                | Search Students:
                input(ng-model='studentList')
        .row
          .col-xs-11.col-md-6
            h4 Enrolled Students:
            table.table-bordered.table-hover
              tr
                th.cohortBox Name
                th.cohortBox Username
                th.cohortBox E-mail
                th.cohortBox Add to new cohort
              tr(ng-repeat='modalStudent in modalStudents | filter: studentList : modalStudent.username')
                td.cohortBox {{modalStudent.displayName}}
                td.cohortBox {{modalStudent.username}}
                td.cohortBox {{modalStudent.email}}
                td.nbsp.glyphicon.glyphicon-plus.cursor.cohortBox.cohortBoxButtons.addStudentButton(ng-click='addStudentToList()')
          .col-xs-11.col-md-5.col-md-offset-1
            h4 New Cohort:
            table.table-bordered.table-hover
              tr
                th.cohortBox Name
                th.cohortBox Username
                th.cohortBox E-mail
                th.cohortBox Remove from cohort
              tr(ng-repeat='cohortStudent in cohortStudents | filter: searchText : student.username')
                td.cohortBox {{cohortStudent.displayName}}
                td.cohortBox {{cohortStudent.username}}
                td.cohortBox {{cohortStudent.email}}
                td: button.btn.btn-xs.btn-danger.i.fa.fa-trash(ng-click='removeStudentFromList(); $event.stopPropagation();')
            button.btn.btn-success.btn-lg(ng-click='submitProject(assignment)', data-dismiss='modal') Submit
            button.btn.btn-default(type='button', data-dismiss='modal') Close
