$size: 100px;
iframe{
  width: 700px;
  height: 600px;
}
.logos > img{
  max-width: $size;
  max-height: 100px;
}
.box{
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.bubblies {
  color: teal;
}
.projectScoring {
  padding-top: 6px;
}
.bold{
  font-weight: bold;
}
.inputButton{
  margin-bottom: 20px;
}
.rightFloat{
  float: right;
  margin-right: 10px;
}
.cursor{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.leftFloat{
  float: left;
  margin-right: 55px;
  margin-top: 5px;
}
.userListPic{
  max-width: 100px;
}
.userCard{
  margin-left: 5%;
}
.studentCard{
  max-width: 65px;
}
.logInButton{
  padding-top: 18px;
}
.textCenter{
  text-align: center;
}
.cohortBox{
  padding: 5px;
}
.userListBox{
  padding: 5px;
  min-width: 250px;
}
.newCohortForm{
  margin-top: 25px;
}
.addStudentButton{
  color: green;
}
.cohortBoxButtons{
  margin-left: 10px;
  margin-right: 8px;
}
.studentbox{
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
  height: 175px;
}
.studentboxtwo{
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
  height: 120px;
}

.bubblies {
  color: teal;
}
