.left4PercMargin{
  margin-left: 4%;
}
.left10PercMargin{
  margin-left: 10%;
}
.left45PercMargin{
  margin-left: 40%;
}
.right10pxMargin{
  margin-right: 10px;
}
.top25pxMargin{
  margin-top: 25px;
}
.top10pxMargin{
  margin-top: 10px;
}
.bottom20pxMargin{
  margin-bottom: 20px;
}
.bottom40pxMargin{
  margin-bottom: 40px;
}
.paddingFivePx{
  padding: 5px;
}
.top18pxPadding{
  padding-top: 18px;
}
.top6pxPadding{
  padding-top: 6px;
}
.left3PercPadding{
  padding-left: 3%;
}
.right30PercPadding{
  padding-right: 60%;
}
.rightFloat{
  float: right;
}
.leftFloat{
  float: left;
}
.cursor{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
.textCenter{
  text-align: center;
}
.oneHundredMaxWidth{
  min-width: 90px;
}
.tenPercWidth{
  min-width: 10%;
}
.borderRight{
  border-right: 1px dashed black;
  height: 100vh;
  position: fixed;
}
.borderBottom{
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  position: relative;
  width: 105%;
  margin-left: -15px;
}
.boxShadow{
  box-shadow: -3px 3px 5px black;
}
.responsiveElements{
  width: 100%;
  border-collapse: collapse;
}
.fontSmall{
  font-size: 12px;
}
.colorGreen{
  color: green;
}
.colorRed{
  color: red;
}
.colorOrange{
  color: orange;
}
.box{
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.logoTumbnail{
  height: 125px;
}
table{
  @extend .paddingFivePx;
  @extend .responsiveElements;
  background-color: rgba(196, 206, 232, 0.19);
}
iframe{
  @extend .responsiveElements;
  height: 600px;
}
button{
  @extend .boxShadow;
  color: black !important;
}
body{
  background-color: rgba(232, 232, 232, 0.38);
}
