.left4PercMargin{
  margin-left: 4%;
}
.left45PercMargin{
  margin-left: 35%;
}
.right10pxMargin{
  margin-right: 10px;
}
.top25pxMargin{
  margin-top: 25px;
}
.bottom20pxMargin{
  margin-bottom: 20px;
}
.paddingFivePx{
  padding: 5px;
}
.top18pxPadding{
  padding-top: 18px;
}
.top6pxPadding{
  padding-top: 6px;
}
.left3PercPadding{
  padding-left: 3%;
}
.rightFloat{
  float: right;
}
.leftFloat{
  float: left;
}
.cursor{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
.textCenter{
  text-align: center;
}
.responsiveElements{
  width: 100%;
  border-collapse: collapse;
}
.colorGreen{
  color: green;
}
.colorRed{
  color: red;
}
.colorOrange{
  color: orange;
}
.box{
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px;
}
table{
  @extend .paddingFivePx;
  @extend .responsiveElements;
}
iframe{
  @extend .responsiveElements;
  height: 600px;
}
