.col-xs-12.text-center(ng-hide="hasCohort")
  img(src='media/logo-black.png')
h1.textCenter(ng-hide="hasCohort") Content Repo
.col-sm-3.col-sm-offset-9.col-xs-2.col-xs-offset-9.borderLeft(ng-if="hasCohort")
  .row
    img.img-rounded.img-responsive.logoTumbnail.hide-sm(src='../../media/logo-black-notag.png')
    h3.borderMenu.bold.textCenter.left3PercPadding Menu:
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Due Assignments:
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-if="!currentAssignmentsShow" ng-click="currentAssignmentsToggle()") SHOW
    button.btn.btn-xs.btn-warning.oneHundredMaxWidth.left40PercMargin(ng-if="currentAssignmentsShow" ng-click="currentAssignmentsToggle()") HIDE
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Past Due Assignments
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-if="!pastAssignmentsShow" ng-click="pastAssignmentsToggle()") SHOW
    button.btn.btn-xs.btn-warning.oneHundredMaxWidth.left40PercMargin(ng-if="pastAssignmentsShow" ng-click="pastAssignmentsToggle()") HIDE
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Account Overview
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-click="viewProfile()") GO &nbsp
      i.fa.fa-long-arrow-right.bold
.col-sm-5.col-xs-11(ng-if="hasCohort")
  h2#dashboardWelcome.underline.bold.textCenter.marginThirtyFivePx.font800pxQuerie() Welcome {{activeUser.github.displayName}}!
.col-sm-3.col-xs-11.col-xs-offset-1(ng-if="hasCohort")
  h4.bold.marginThirtyFivePx You are enrolled in:
    ul.left4PercMargin
      li: h4(ng-repeat='cohort in activeUser.cohortsObj') {{cohort.cohortName}} Cohort
.col-sm-7.col-sm-offset-1.col-xs-11.col-xs-offset-1.smallTable(ng-if="currentAssignmentsShow")
  h2.bold.marginThirtyFivePx.font800pxQuerie(ng-if="hasCohort") Due Assignments:
.col-sm-7.col-sm-offset-1.col-xs-11.smallTable(ng-if="currentAssignmentsShow")
  table.table-bordered.table-hover(ng-if="hasCohort")
    tr
      th.paddingFivePx.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.paddingFivePx.cursor(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th.paddingFivePx.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.paddingFivePx.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.paddingFivePx.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.paddingFivePx.cursor(ng-hide="adminUser") Submit
      th.paddingFivePx.cursor(ng-if="adminUser") Edit
      th.paddingFivePx.cursor(ng-if="adminUser") Delete
    tr.cursor(ng-repeat='currentAssignment in currentAssignments | orderBy:predicate:reverse')
      td.paddingFivePx(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.projectName}}
      td.paddingFivePx(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.cohortName}}
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.dueDate | date:'MMM d, y'}}
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(currentAssignment._id)')
      td.paddingFivePx.textCenter(ng-hide="adminUser"): button.btn.btn-xs.btn-info(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td.paddingFivePx.textCenter(ng-if="adminUser"): i.glyphicon.glyphicon-edit.colorOrange(ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal')
      td.paddingFivePx.textCenter(ng-if="adminUser"): i.fa.fa-trash.left3PercPadding.colorRed(ng-click="deleteAssignmentConfirm()")
.col-sm-7.col-sm-offset-1.col-xs-6.smallTable(ng-if="pastAssignmentsShow")
  h2.bold.font800pxQuerie Past Due Assignments:
  table.table-bordered.table-hover(ng-if="hasCohort")
    tr
      th.paddingFivePx.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.paddingFivePx.cursor(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th.paddingFivePx.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.paddingFivePx.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.paddingFivePx.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.paddingFivePx(ng-hide="adminUser") Submit
      th.paddingFivePx(ng-if="adminUser") Edit
      th.paddingFivePx(ng-if="adminUser") Delete
    tr.cursor(ng-repeat='pastAssignment in pastAssignments | orderBy:predicate:reverse')
      td.paddingFivePx(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.projectName}}
      td.paddingFivePx(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.cohortName}}
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.dueDate | date:'MMM d, y'}}
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.paddingFivePx.textCenter(ng-click='viewOneAssignment(pastAssignment._id)')
      td.paddingFivePx.textCenter(ng-hide="adminUser"): button.btn.btn-xs.btn-info(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td.paddingFivePx.textCenter(ng-if="adminUser"): i.glyphicon.glyphicon-edit.colorOrange(ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal')
      td.paddingFivePx.textCenter(ng-if="adminUser"): i.fa.fa-trash.left3PercPadding.colorRed(ng-click="deleteAssignmentConfirm()" active=('{{adminUser}}'))
#assignModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title New Assignment
      .modal-body
        .form-group
          h6 Pick a Cohort
          select.form-control(ng-model='assignment.cohortName' required)
            option(ng-repeat='cohort in cohorts') {{cohort.cohortName}}
        .form-group
          lable Due Date:
          input.form-control(type='text' ng-model='assignment.dueDate' id="datepicker" required)
        .form-group
          h6 Category:
            h5.box Functionality
        .form-group
          h6 Points:
            input.form-control#projectFunctionality(type='number' ng-model='assignment.functionalityPoints')
        .form-group
          h6 Category:
            h5.box Readability
        .form-group
          h6 Points:
            input.form-control#projectReadability(type='number' ng-model='assignment.readabilityPoints')
        .form-group
          h6 Category:
            h5.box HTML/CSS
        .form-group
          h6 Points:
            input.form-control#projectHTML(type='number' ng-model='assignment.htmlPoints')
        .form-group
          h6 Category:
            h5.box JavaScript
        .form-group
          h6 Points:
            input.form-control#projectJavaScript(type='number' ng-model='assignment.javascriptPoints')
          button.btn.btn-success.btn-lg(ng-click='updateAssignment(assignment)', data-dismiss='modal') Submit
          button.btn.btn-default.rightFloat.right10pxMargin(type='button', data-dismiss='modal') Cancel
