.col-xs-12.text-center.marginThirtyFivePx(ng-hide='activeUser')
  img(src='media/logo-black.png')
h1.textCenter(ng-hide='activeUser') Content Repo
.col-sm-3.col-sm-offset-9.col-xs-2.col-xs-offset-9.borderLeft(ng-if="activeUser")
  .row
    a(ui-sref='dashboard'): img.img-rounded.img-responsive.logoTumbnail.hide-sm(src='../../media/logo-black-notag.png')
  .row
    h3.borderMenu.bold.left3PercPadding Menu:
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Due Assignments:
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-if="!currentAssignmentsShow" ng-click="currentAssignmentsToggle()") SHOW
    button.btn.btn-xs.btn-warning.oneHundredMaxWidth.left40PercMargin(ng-if="currentAssignmentsShow" ng-click="currentAssignmentsToggle()") HIDE
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Past Due Assignments
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-if="!pastAssignmentsShow" ng-click="pastAssignmentsToggle()") SHOW
    button.btn.btn-xs.btn-warning.oneHundredMaxWidth.left40PercMargin(ng-if="pastAssignmentsShow" ng-click="pastAssignmentsToggle()") HIDE
  .row.top10pxMargin.left4PercMargin.margin800pxQuerie
    h5.bold.left20PercMargin Account Overview
    button.btn.btn-xs.btn-info.oneHundredMaxWidth.left40PercMargin(ng-click="viewProfile()") GO &nbsp
      i.fa.fa-long-arrow-right.fa-fw.bold
.col-sm-5.col-xs-9(ng-if="activeUser")
  h3#dashboardWelcome.underline.bold.marginThirtyFivePx.font800pxQuerie() Welcome {{activeUser.github.displayName}}!
.col-sm-3.col-xs-9.col-xs-offset-1(ng-if="hasCohort")
  h3.bold.marginThirtyFivePx You are enrolled in:
    ul.left4PercMargin
      li: h4(ng-repeat='cohort in activeUser.cohortsObj') {{cohort.cohortName}} Cohort
.col-sm-7.col-sm-offset-1.col-xs-9.col-xs-offset-1(ng-if="currentAssignmentsShow")
  h3.bold.top25pxMargin.font800pxQuerie(ng-if="hasCohort") Due Assignments:
.col-sm-7.col-sm-offset-1.col-xs-9(ng-hide="!currentAssignmentsShow")
  table.table-bordered.table-hover(ng-if="activeUser")
    tr
      th(ng-click="predicate='projectName'; reverse=!reverse") Name
      th(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.hide-sm(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th(ng-click="predicate='status'; reverse=!reverse") Status
      th(ng-hide="adminUser") Submit
      th(ng-if="adminUser") Edit
      th(ng-if="adminUser") Delete
    tr(ng-repeat='currentAssignment in currentAssignments | orderBy:predicate:reverse')
      td(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.projectName}}
      td(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.cohortName}}
      td.hide-sm(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.dueDate | date:'MMM &nbsp; d'}}
      td(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td(ng-click='viewOneAssignment(currentAssignment._id)')
      td(ng-hide="adminUser"): button.btn.btn-xs.btn-info(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td(ng-if="adminUser" ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal'): i.fa.fa-pencil-square-o.fa-fw.colorOrange
      td(ng-if="adminUser" ng-click="deleteAssignmentConfirm()"): i.fa.fa-trash.fa-fw.left3PercPadding.colorRed
.col-sm-7.col-sm-offset-1.col-xs-6(ng-if="pastAssignmentsShow")
  h2.bold.font800pxQuerie Past Due Assignments:
  table.table-bordered.table-hover(ng-if="hasCohort")
    tr
      th(ng-click="predicate='projectName'; reverse=!reverse") Name
      th(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.hide-sm(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th(ng-click="predicate='status'; reverse=!reverse") Status
      th(ng-hide="adminUser") Submit
      th(ng-if="adminUser") Edit
      th(ng-if="adminUser") Delete
    tr(ng-repeat='pastAssignment in pastAssignments | orderBy:predicate:reverse')
      td(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.projectName}}
      td(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.cohortName}}
      td(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.dueDate | date:'MMM d, y'}}
      td.hide-sm(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td(ng-click='viewOneAssignment(pastAssignment._id)')
      td(ng-hide="adminUser"): button.btn.btn-xs.btn-info(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td(ng-if="adminUser" ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal'): i.fa.fa-pencil-square-o.fa-fw.colorOrange
      td(ng-if="adminUser" ng-click="deleteAssignmentConfirm()" active=('{{adminUser}}')): i.fa.fa-trash.fa-fw.left3PercPadding.colorRed
#assignModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title New Assignment
      .modal-body
        .form-group
          h6 Pick a Cohort
          select.form-control(ng-model='assignment.cohortName' required)
            option(ng-repeat='cohort in cohorts') {{cohort.cohortName}}
        .form-group
          lable Due Date:
          input.form-control(type='text' ng-model='assignment.dueDate' id="datepicker" required)
        .form-group
          h6 Category:
            h5.box Functionality
        .form-group
          h6 Points:
            input.form-control#projectFunctionality(type='number' ng-model='assignment.functionalityPoints')
        .form-group
          h6 Category:
            h5.box Readability
        .form-group
          h6 Points:
            input.form-control#projectReadability(type='number' ng-model='assignment.readabilityPoints')
        .form-group
          h6 Category:
            h5.box HTML/CSS
        .form-group
          h6 Points:
            input.form-control#projectHTML(type='number' ng-model='assignment.htmlPoints')
        .form-group
          h6 Category:
            h5.box JavaScript
        .form-group
          h6 Points:
            input.form-control#projectJavaScript(type='number' ng-model='assignment.javascriptPoints')
          button.btn.btn-default.btn-lg.right10pxMargin(type='button', data-dismiss='modal') Cancel
          button.btn.btn-success.btn-lg.rightFloat(ng-click='updateAssignment(assignment)', data-dismiss='modal') Submit
