.col-xs-12.text-center(ng-hide="activeUser")
  img(src='media/logo-black.png')
h1.text-center(ng-hide="activeUser") Content Repo

.col-md-6.col-sm-11(ng-show="activeUser")
  h1(ng-if="activeUser") Welcome {{activeUser.github.displayName}}
  h2(ng-if="activeUser") Current Assignments
  table.table-bordered.table-hover.newCohortForm(ng-if="activeUser")
    tr
      th.cohortBox.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.cohortBox.cursor(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th.cohortBox.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.cohortBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.cohortBox.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.cohortBox.cursor(ng-hide="adminUser") Submit
      th.cohortBox.cursor(ng-if="adminUser") Edit
      th.cohortBox.cursor(ng-if="adminUser") Delete
    tr.cursor(ng-repeat='currentAssignment in currentAssignments | orderBy:predicate:reverse')
      td.cohortBox(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.projectName}}
      td.cohortBox(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.cohortName}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.dueDate | date:'MMM d, y'}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)')
      td.cohortBox.textCenter(ng-hide="adminUser"): button(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td.cohortBox.textCenter(ng-if="adminUser"): button(ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal') Edit
      td.cohortBox.textCenter(ng-if="adminUser"): button(ng-click="deleteAssignmentConfirm()") Delete
.col-md-6.col-sm-11(ng-show="activeUser")
  h2(ng-show="activeUser" ng-if='hasCohort') You are enrolled in:
    ul(ng-show="activeUser")
      li.logInButton(ng-repeat='cohort in activeUser.cohortsObj') {{cohort.cohortName}}
  h2(ng-if="activeUser") Past Assignments
  table.table-bordered.table-hover(ng-if="activeUser")
    tr
      th.cohortBox.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.cohortBox.cursor(ng-click="predicate='cohortName'; reverse=!reverse") Assigned Cohort
      th.cohortBox.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.cohortBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.cohortBox.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.cohortBox.cursor(ng-hide="adminUser") Submit
      th.cohortBox.cursor(ng-if="adminUser") Edit
      th.cohortBox.cursor(ng-if="adminUser") Delete
    tr.cursor(ng-repeat='pastAssignment in pastAssignments | orderBy:predicate:reverse')
      td.cohortBox(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.projectName}}
      td.cohortBox(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.cohortName}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.dueDate | date:'MMM d, y'}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)')
      td.cohortBox.textCenter(ng-hide="adminUser"): button(ng-click="submitAssignment()" ng-hide="adminUser") Submit
      td.cohortBox.textCenter(ng-if="adminUser"): button(ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal') Edit
      td.cohortBox.textCenter(ng-if="adminUser"): button(ng-click="deleteAssignmentConfirm()" active=('{{adminUser}}')) Delete
#assignModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title New Assignment
      .modal-body
        .form-group
          h6 Pick a Cohort
          select.form-control(ng-model='assignment.cohortName' required)
            option(ng-repeat='cohort in cohorts') {{cohort.cohortName}}
        .form-group
          lable Due Date:
          input.form-control(type='text' ng-model='assignment.dueDate' id="datepicker" required)
        .form-group
          h6 Category:
            h5.box Functionality
        .form-group
          h6 Points:
            input.form-control#projectFunctionality(type='number' ng-model='assignment.functionalityPoints')
        .form-group
          h6 Category:
            h5.box Readability
        .form-group
          h6 Points:
            input.form-control#projectReadability(type='number' ng-model='assignment.readabilityPoints')
        .form-group
          h6 Category:
            h5.box HTML/CSS
        .form-group
          h6 Points:
            input.form-control#projectHTML(type='number' ng-model='assignment.htmlPoints')
        .form-group
          h6 Category:
            h5.box JavaScript
        .form-group
          h6 Points:
            input.form-control#projectJavaScript(type='number' ng-model='assignment.javascriptPoints')
          button.btn.btn-success.btn-lg(ng-click='updateAssignment(assignment)', data-dismiss='modal') Submit
          button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
