nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home.dashboard') Home
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left(ng-if='adminUser')
        li: a(ui-sref='admins.userIndex'): i.fa.fa-plus &nbsp; Admin
      ul.nav.navbar-nav.navbar-right(ng-hide='activeUser')
        button.btn.btn-lg.btn-defult.logInButton(ng-click='oauth("github")'): i.fa.fa-github &nbsp; LogIn With GitHub
      ul.nav.navbar-nav.navbar-right(ng-show='activeUser')
        li: a(ui-sref='cohorts.index' ng-if='isAdmin'): i.fa.fa-plus &nbsp; Cohorts
        li: a(ui-sref='projects.index' ng-if='adminUser'): i.fa.fa-list &nbsp; New Assignment
        li: a(href='#', ng-click='logout()'): i.fa.fa-sign-out &nbsp; {{displayName}}
