.col-md-4.col-md-offset-1.col-sm-11(ng-repeat='assignment in assignments track by $index')
  h4 Assignments
  .box.inputButton
    h5.cursor: a(ng-click='viewOneAssignment(assignment.projectId)') {{assignment.projectName}}
    ul
      li: h6 Date Assigned: {{assignment.createdAt | date: 'MMM-dd-yyyy'}}
      li: h6 Due Date: {{assignment.dueDate | date: 'MMM-dd-yyyy'}}
    h4 Intros
      h5.cursor: a(ng-click='viewOneIntro(assignment.introId); $event.stopPropagation();') {{assignment.introName}}
