.col-xs-12.text-center(ng-hide="activeUser")
  img(src='media/logo-black.png')
h1.text-center(ng-hide="activeUser") Content Repo
//- Main Dashboard
.col-md-6.col-sm-11(ng-show="activeUser")
  h2 Current Assignments
  table.table-bordered.table-hover
    tr
      th.cohortBox.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.cohortBox.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.cohortBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.cohortBox.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.cohortBox.cursor Submit
      th.cohortBox.cursor(ng-if="isAdmin") Edit
      th.cohortBox.cursor(ng-if="isAdmin") Delete
    tr.cursor(ng-repeat='currentAssignment in currentAssignments | orderBy:predicate:reverse')
      td.cohortBox(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.projectName}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.dueDate | date:'MMM d, y'}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)') {{currentAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.cohortBox.textCenter(ng-click='viewOneAssignment(currentAssignment._id)')
      td.cohortBox.textCenter
        button(ng-click="submitAssignment()") Submit
      td.cohortBox.textCenter(ng-if="isAdmin")
        button(ng-click="deleteAssignmentConfirm()") Edit
      td.cohortBox.textCenter(ng-if="isAdmin")
        button(ng-click="deleteAssignmentConfirm()") Delete
.col-md-6.col-sm-11(ng-show="activeUser")
  h2 Past Assignments
  table.table-bordered.table-hover
    tr
      th.cohortBox.cursor(ng-click="predicate='projectName'; reverse=!reverse") Name
      th.cohortBox.cursor(ng-click="predicate='dueDate'; reverse=!reverse") Due Date
      th.cohortBox.cursor(ng-click="predicate='createdAt'; reverse=!reverse") Created
      th.cohortBox.cursor(ng-click="predicate='status'; reverse=!reverse") Status
      th.cohortBox.cursor Submit
      th.cohortBox.cursor(ng-if="isAdmin") Edit
      th.cohortBox.cursor(ng-if="isAdmin") Delete
    tr.cursor(ng-repeat='pastAssignment in pastAssignments | orderBy:predicate:reverse')
      td.cohortBox(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.projectName}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.dueDate | date:'MMM d, y'}}
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)') {{pastAssignment.createdAt | date:'MMM d, y'}} &nbsp;
      td.cohortBox.textCenter(ng-click='viewOneAssignment(pastAssignment._id)')
      td.cohortBox.textCenter
        button(ng-click="submitAssignment()") Submit
      td.cohortBox.textCenter(ng-if="isAdmin")
        button(ng-click="deleteAssignmentConfirm()" active=('{{adminUser}}')) Edit
      td.cohortBox.textCenter(ng-if="isAdmin")
        button(ng-click="deleteAssignmentConfirm()" active=('{{adminUser}}')) Delete
