.col-md-8.col-sm-11
  h4 Projects
  button.btn.btn-xs.btn-info.rightFloat(type='button' data-toggle='modal' data-target='#projectModal') Create a new Project
  .inputButton
    button.btn.btn-xs.btn-default(ng-if="!cohortShow" ng-click="toggleProjects()") Show Projects
    button.btn.btn-xs.btn-default(ng-if="cohortShow" ng-click="toggleProjects()") Hide Projects
    .filter.logInButton(ng-show="projectShow")
      label
        | Filter:
        input(ng-model='searchProjects')
    table.table-bordered.table-hover(ng-show="projectShow")
      tr
        th.projectIntroList.cohortBox Project Name
        th.projectIntroList.cohortBox Core Concepts
        th.projectIntroList.cohortBox Tech Used
        th.cohortBox Edit
        th.cohortBox Delete
        th.cohortBox Assign
      tr(ng-repeat='project in projects | filter : searchProjects track by $index')
        td.projectIntroList.cursor.cohortBox.textCenter
          a(ng-click='viewOneProject(project._id)') {{project.name}}
        td.projectIntroList.cohortBox
          a(ng-click='viewOneProject(project._id)') {{project.concepts}}
        td.projectIntroList.cohortBox
          a(ng-click='viewOneProject(project._id)') {{project.tech}}
        td.cohortBox.textCenter
          button.btn.btn-xs.btn-warning.rightFloat(ng-click='editModal()' type='button' data-toggle='modal' data-target='#editProjectModal').glyphicon.glyphicon-edit
        td.cohortBox.textCenter
          button.btn.btn-xs.btn-danger.rightFloat(title="Delete Project" ng-click='deleteProjectConfirm(project); $event.stopPropagation();'): i.fa.fa-trash
        td.projectIntroList.cohortBox.textCenter
          button.btn.btn-xs.btn-success(ng-click='editModal();' type='button' data-toggle='modal' data-target='#assignModal') Assign
.col-md-4.col-sm-11
  h4 Intros
  button.btn.btn-xs.btn-info.rightFloat(type='button' data-toggle='modal' data-target='#introModal') Create a new Intro
  .inputButton
    button.btn.btn-xs.btn-default(ng-if="!cohortShow" ng-click="toggleIntros()") Show Intros
    button.btn.btn-xs.btn-default(ng-if="cohortShow" ng-click="toggleIntros()") Hide Intros
    .filter.logInButton(ng-show="introShow")
      label
        | Filter:
        input(ng-model='searchIntros')
    table.table-bordered.table-hover(ng-show="introShow")
      tr
        th.projectIntroList.cohortBox Intro Name
        th.cohortBox Edit
        th.cohortBox Delete
        th.cohortBox Assign
      tr(ng-repeat='intro in intros | filter: searchIntros track by $index')
        td.projectIntroList.cursor.cohortBox: a(ng-click='viewOneIntro(intro._id)') {{intro.name}}
        td.cohortBox.textCenter
          button.btn.btn-xs.btn-warning.rightFloat(ng-click='editModal()' type='button' data-toggle='modal' data-target='#editIntroModal').glyphicon.glyphicon-edit
        td.cohortBox.textCenter
          button.btn.btn-xs.btn-danger.rightFloat(title="Delete Intro" ng-click='deleteIntroConfirm(intro); $event.stopPropagation();'): i.fa.fa-trash
        td.projectIntroList.cohortBox.textCenter
          button.btn.btn-xs.btn-success(ng-click='editModal();' type='button' data-toggle='modal' data-target='#assignModal') Assign
#assignModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title New Assignment
      .modal-body
        .form-group
          h6 Pick a Cohort
          select.form-control(ng-model='assignment.cohortName' required)
            option(ng-repeat='cohort in cohorts') {{cohort.cohortName}}
        .form-group
          lable Due Date:
          input.form-control(type='text' ng-model='assignment.dueDate' id="datepicker" required)
        .form-group
          h6 Category:
            h5.box Functionality
        .form-group
          h6 Points:
            input.form-control#projectFunctionality(type='number' ng-model='assignment.functionalityPoints')
        .form-group
          h6 Category:
            h5.box Readability
        .form-group
          h6 Points:
            input.form-control#projectReadability(type='number' ng-model='assignment.readabilityPoints')
        .form-group
          h6 Category:
            h5.box HTML/CSS
        .form-group
          h6 Points:
            input.form-control#projectHTML(type='number' ng-model='assignment.htmlPoints')
        .form-group
          h6 Category:
            h5.box JavaScript
        .form-group
          h6 Points:
            input.form-control#projectJavaScript(type='number' ng-model='assignment.javascriptPoints')
          button.btn.btn-success.btn-lg(ng-click='submitAssignment(assignment)', data-dismiss='modal') Submit
          button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
#projectModal.modal.fade(role='newProject')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title New Project
      .modal-body
        form(name='newProjectForm', novalidate)
          .row
            form
              .col-xs-offset-1.col-xs-10
                .form-group
                  label.bold Name:
                  input.form-control#projectName(ng-model='project.name')
                .form-group
                  label.bold Core Concept:
                  select.form-control#projectConcepts(ng-model='project.concepts')
                    option(value='' disabled)
                    option(value='Core Javascript') Core Javascript
                    option(value='Node.js') Node.js
                    option(value='AngularJS') AngularJS
                    option(value='Angular2') Angular2
                    option(value='ExpressJS') ExpressJS
                    option(value='MongoDb/Mongoose') MongoDb / Mongoose
                    option(value='MEAN') MEAN
                    option(value='jQuery') jQuery
                    option(value='AJAX') AJAX
                    option(value='Firebase') Firebase
                    option(value='React') React
                    option(value='Authentication') Authentication
                    option(value='Pair Programming') Pair Programming
                    option(value='es6') es6
                    option(value='TDD') TDD
                    option(value='Webpack') Webpack
                .form-group
                  label.bold Technology Used (select all that apply):
                  select.form-control#sel
                    option(value='' disabled)
                    option(value='Core Javascript') Core Javascript
                    option(value='Node.js') Node.js
                    option(value='AngularJS') AngularJS
                    option(value='Angular2') Angular2
                    option(value='ExpressJS') ExpressJS
                    option(value='MongoDb/Mongoose') MongoDb / Mongoose
                    option(value='MEAN') MEAN
                    option(value='jQuery') jQuery
                    option(value='AJAX') AJAX
                    option(value='Firebase') Firebase
                    option(value='React') React
                    option(value='Authentication') Authentication
                    option(value='Pair Programming') Pair Programming
                    option(value='Pair Programming') Pair Programming
                    option(value='es6') es6
                    option(value='TDD') TDD
                    option(value='Webpack') Webpack
                  textarea.form-control#projectTech(ng-model='project.tech', rows='2', cols='50')
                .form-group
                  label.bold Requirements:
                  textarea.form-control#projectRequirements(ng-model='project.requirements', rows='3', cols='50')
                .form-group
                  label.bold Notes:
                  input.form-control#projectNotes(type='string' ng-model='project.notes' placeholder='Enter Google Sheets Sharable Link Here')
                .form-group
                  label.bold GitHub URL:
                  input.form-control#projectNotes(type='url' ng-model='project.githubURL' placeholder='Enter GitHub Link Here')
                .form-group
                  label.bold Pros:
                  textarea.form-control#projectPros(ng-model='project.pros', rows='6', cols='50')
                .form-group
                  label.bold References:
                  textarea.form-control#projectReferences(ng-model='project.references', rows='3', cols='50')
                .form-group
                  label.bold Alternatives:
                  textarea.form-control#projectAlternatives(ng-model='project.alternatives', rows='3', cols='50')
                .form-group
                  label.bold Deployment Instructions:
                  textarea.form-control#projectDeployment(ng-model='project.deployment', rows='6', cols='50')
              .row.col-xs-offset-1
                .col-xs-10
                  .form-group
                    button.btn.btn-default.btn-lg(type='submit' data-dismiss='modal' ng-click='create(project)') Save Project
                    button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
#editProjectModal.modal.fade(role='newProject')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Edit Project
      .modal-body
        form(name='newProjectForm', novalidate)
          .row
            form
              .col-xs-offset-1.col-xs-10
                .form-group
                  label.bold Name:
                  input.form-control#projectName(ng-model='project.name')
                .form-group
                  label.bold Core Concept:
                  select.form-control#projectConcepts(ng-model='project.concepts')
                    option(value='' disabled)
                    option(value='Core Javascript') Core Javascript
                    option(value='Node.js') Node.js
                    option(value='AngularJS') AngularJS
                    option(value='Angular2') Angular2
                    option(value='ExpressJS') ExpressJS
                    option(value='MongoDb/Mongoose') MongoDb / Mongoose
                    option(value='MEAN') MEAN
                    option(value='jQuery') jQuery
                    option(value='AJAX') AJAX
                    option(value='Firebase') Firebase
                    option(value='React') React
                    option(value='Authentication') Authentication
                    option(value='Pair Programming') Pair Programming
                    option(value='es6') es6
                    option(value='TDD') TDD
                    option(value='Webpack') Webpack
                .form-group
                  label.bold Technology Used (select all that apply):
                  select.form-control#sel
                    option(value='' disabled)
                    option(value='Core Javascript') Core Javascript
                    option(value='Node.js') Node.js
                    option(value='AngularJS') AngularJS
                    option(value='Angular2') Angular2
                    option(value='ExpressJS') ExpressJS
                    option(value='MongoDb/Mongoose') MongoDb / Mongoose
                    option(value='MEAN') MEAN
                    option(value='jQuery') jQuery
                    option(value='AJAX') AJAX
                    option(value='Firebase') Firebase
                    option(value='React') React
                    option(value='Authentication') Authentication
                    option(value='Pair Programming') Pair Programming
                    option(value='Pair Programming') Pair Programming
                    option(value='es6') es6
                    option(value='TDD') TDD
                    option(value='Webpack') Webpack
                  textarea.form-control#projectTech(ng-model='project.tech', rows='2', cols='50')
                .form-group
                  label.bold Requirements:
                  textarea.form-control#projectRequirements(ng-model='project.requirements', rows='3', cols='50')
                .form-group
                  label.bold Notes:
                  input.form-control#projectNotes(type='string' ng-model='project.notes' placeholder='Enter Google Sheets Sharable Link Here')
                .form-group
                  label.bold GitHub URL:
                  input.form-control#projectNotes(type='url' ng-model='project.githubURL' placeholder='Enter GitHub Link Here')
                .form-group
                  label.bold Pros:
                  textarea.form-control#projectPros(ng-model='project.pros', rows='6', cols='50')
                .form-group
                  label.bold References:
                  textarea.form-control#projectReferences(ng-model='project.references', rows='3', cols='50')
                .form-group
                  label.bold Alternatives:
                  textarea.form-control#projectAlternatives(ng-model='project.alternatives', rows='3', cols='50')
                .form-group
                  label.bold Deployment Instructions:
                  textarea.form-control#projectDeployment(ng-model='project.deployment', rows='6', cols='50')
              .row.col-xs-offset-1
                .col-xs-10
                  .form-group
                    button.btn.btn-default.btn-lg(type='submit' data-dismiss='modal' ng-click='updateProject(project)') Save Edits
                    button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
#editIntroModal.modal.fade(role='newIntro')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Edit Intro
      .modal-body
        form(name='newProjectForm', novalidate)
          .row
            .col-xs-offset-1.col-xs-10
              .form-group
                label.bold Title:
                input.form-control#projectName(ng-model='intro.name')
              .form-group
                label.bold Body:
                textarea.form-control#projectBody(ng-model='intro.body', rows='10', cols='50')
          .row.col-xs-offset-1
            .col-xs-10
              .form-group
                button.btn.btn-default.btn-lg(type="submit" ng-click='updateIntro(intro)' data-dismiss='modal') Save Edits
                button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
#introModal.modal.fade(role='newIntro')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-titleNew Intro
      .modal-body
        form(name='newProjectForm', novalidate)
          .row
            .col-xs-offset-1.col-xs-10
              .form-group
                label.bold Title:
                input.form-control#projectName(ng-model='intro.name')
              .form-group
                label.bold Body:
                textarea.form-control#projectBody(ng-model='intro.body', rows='10', cols='50')
          .row.col-xs-offset-1
            .col-xs-10
              .form-group
                button.btn.btn-default.btn-lg(type="submit" ng-click='create(intro)' data-dismiss='modal') Save Intro
                button.btn.btn-default.rightFloat(type='button', data-dismiss='modal') Cancel
