.row
  .col-xs-offset-2.col-xs-4
    h3.underline.bold {{intro.name}}
  .col-xs-2.col-xs-offset-3
    .container.top25pxMargin
      i.glyphicon.glyphicon-edit.colorOrange.cursor(ng-click='editIntroModal()' type='button' data-toggle='modal' data-target='#editIntroModal')
      i.fa.fa-trash.left3PercPadding.colorRed.cursor(title="Delete Intro" ng-click='deleteIntro(intro); $event.stopPropagation();')
.rows
  .col-xs-offset-2.col-xs-8
    h4.underline.top6pxPadding Body:
    h5 {{intro.body}}
#editIntroModal.modal.fade(role='newIntro')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Edit Intro
      .modal-body
        form(name='newProjectForm', novalidate)
          .row
            .col-xs-offset-1.col-xs-10
              .form-group
                label.bold Title:
                input.form-control(ng-model='intro.name')
              .form-group
                label.bold Body:
                textarea.form-control#projectBody(ng-model='intro.body', rows='10', cols='50')
          .row.col-xs-offset-1
            .col-xs-10
              .form-group
                button.btn.btn-default.btn-lg(type="submit" ng-click='updateIntro(intro)' data-dismiss='modal') Save Edits
                button.btn.btn-default.rightFloat.right10pxMargin(type='button', data-dismiss='modal') Cancel
