.row
  .col-md-5.col-xs-11
    h3.underline.bold Assignment: &nbsp {{viewAssignment.projectName}}
      div.rightFloat.tenPercWidth
        i.fa.fa-pencil-square-o.fa-fw.colorOrange(ng-if='adminUser' ng-click='editModal()' type='button' data-toggle='modal' data-target='#assignModal')
        i.fa.fa-trash.fa-fw.left3PercPadding.colorRed(ng-if='adminUser' title="Delete Assignment" ng-click='deleteAssignmentConfirm(viewAssignment)')
    h4.top6pxPadding Assigned: {{viewAssignment.createdAt | date: 'MMM-dd-yyyy'}}
    h4.top6pxPadding Due Date: {{viewAssignment.dueDate | date: 'MMM-dd-yyyy'}}
    h4.presetCategory Tech: {{project.tech}}
    h4.underline.top6pxPadding.bold Intro: &nbsp {{viewAssignment.introName}}
    h4.underline Alternatives:
    h5 {{project.alternatives}}
    h4.underline Concepts:
    h5 {{project.concepts}}
    h4.underline Pros:
    h5 {{project.pros}}
    h4.underline References:
    h5 {{project.references}}
    h4.underline GitHub URL:
    h5 {{project.githubURL}}
    h4.underline.top6pxPadding Requirements:
    h5 {{project.requirements}}
    h4.underline Deployment Instructions:
    h5 {{project.deployment}}
  .col-md-7.col-xs-11
    h4.underline Notes:
    div(ng-bind-html='iframeURL' ng-width="800" ng-height="500")
    .form-group.left4PercMargin
      label.bold.left3PercPadding.top18pxPadding Submit Assignment for Grading:
      textarea.left4PercMargin.right10pxMargin.responsiveElements(ng-model='submittedcontent.url' placeholder="deployment/github url" rows='6' required)
      button.btn.btn-success.btn-lg.left4PercMargin.top18pxPadding(type='submit' ng-click='markAsSubmitted(obj)') Submit
.row
  .col-md-6.col-xs-11
    h4.underline.top6pxPadding.bold Grading:
    h5.underline Functionality Points:
    h6 {{viewAssignment.functionalityPoints}}
    h5.underline HTML/CSS Points:
    h6 {{viewAssignment.htmlPoints}}
    h5.underline Javascript Points:
    h6 {{viewAssignment.javascriptPoints}}
    h5.underline Readability Points:
    h6 {{viewAssignment.readabilityPoints}}
#assignModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title New Assignment
      .modal-body
        .form-group
          h6 Pick a Cohort
          select.form-control(ng-model='assignment.cohortName' required)
            option(ng-repeat='cohort in cohorts') {{cohort.cohortName}}
        .form-group
          lable Due Date:
          input.form-control(type='date' ng-model='assignment.dueDate' required)
        .form-group
          h6 Category:
            h5.box Functionality
        .form-group
          h6 Points:
            input.form-control#projectFunctionality(type='number' ng-model='assignment.functionalityPoints')
        .form-group
          h6 Category:
            h5.box Readability
        .form-group
          h6 Points:
            input.form-control#projectReadability(type='number' ng-model='assignment.readabilityPoints')
        .form-group
          h6 Category:
            h5.box HTML/CSS
        .form-group
          h6 Points:
            input.form-control#projectHTML(type='number' ng-model='assignment.htmlPoints')
        .form-group
          h6 Category:
            h5.box JavaScript
        .form-group
          h6 Points:
            input.form-control#projectJavaScript(type='number' ng-model='assignment.javascriptPoints')
          button.btn.btn-default.btn-lg(type='button', data-dismiss='modal') Cancel
          button.btn.btn-success.btn-lg.rightFloat(ng-click='updateAssignment(assignment)', data-dismiss='modal') Submit
