form(name='newProjectForm', novalidate)
  .row
    .col-xs-offset-1.col-xs-10
      h1 Create A New Cohort
    .col-xs-1
  .row
    .col-xs-3
      h4.bold Saved Cohorts:
      table
        tr
          th Cohort Name:
        tr(ng-repeat='cohort in cohorts')
          td.cursor(ng-click='showOneCohort()') {{cohort.cohortName}} &nbsp;
            button.btn.btn-xs.btn-danger.i.fa.fa-trash(ng-click='deleteCohort(); $event.stopPropagation();')
            button.btn.btn-xs.btn-warning.i.fa.fa-edit(ng-click='editCohort(); $event.stopPropagation();')
    .col-xs-offset-6.col-xs-3
      .form-group
        label.bold Title:
        input.form-control.inputButton#projectName(ng-model='cohort.cohortName')
        label.bold Cohort Email
        input.form-control.inputButton#projectName(ng-model='cohort.cohortEmail')
        button.btn.btn-success.btn-lg.rightFloat(ng-click='update(cohort)') Submit
      .form-group
h4 Add Students:
.col-xs-8.borderRight
  div(ng-repeat='student in students')
    .col-md-3.col-xs-12
      .studentbox
        img.img-responsive.img-thumbnail.studentCard(ng-src='{{student.profileImageURL}}')
        .nbsp.glyphicon.glyphicon-plus.cursor(ng-click='toggleCohortOn()')
        h5 Name: {{student.displayName}}
        h5 Username: {{student.username}}
.col-xs-4
  h4 Cohort:
    div(ng-repeat='cohortStudent in cohortStudents')
      .studentbox
        img.img-responsive.img-thumbnail.studentCard(ng-src='{{cohortStudent.profileImageURL}}')
        button.btn.btn-xs.btn-danger.i.fa.fa-trash(ng-click='toggleCohortOff(); $event.stopPropagation();')
        h5 Name: {{cohortStudent.displayName}}
        h5 Username: {{cohortStudent.username}}
