.row
  .col-xs-11.col-md-6
    h1 Create A New Cohort
  .col-xs-11.col-md-6.newCohortForm
    .form-group
      label.bold Title:
        input.form-control.inputButton#projectName(ng-model='cohort.cohortName')
      label.bold Cohort Email
        input.form-control.inputButton#projectName(ng-model='cohort.cohortEmail')
      button.btn.btn-success.btn-lg.cohortBoxButtons(ng-click='update(cohort)' ng-hide='editing') Save
      button.btn.btn-success.btn-lg(ng-click='edit(cohort)' ng-show='editing') Update
.row
  .col-xs-12
    .filter
      label
        | Search:
        input(ng-model='searchText')
.row
  .col-xs-11.col-md-6
    h4 Enrolled Students:
    table.table-bordered.table-hover
      tr
        th.cohortBox Name
        th.cohortBox Username
        th.cohortBox E-mail
        th.cohortBox Add to new cohort
      tr(ng-repeat='student in students | filter: searchText : student.username')
        td.cohortBox {{student.displayName}}
        td.cohortBox {{student.username}}
        td.cohortBox {{student.email}}
        td.nbsp.glyphicon.glyphicon-plus.cursor.cohortBox.cohortBoxButtons.addStudentButton(ng-click='toggleCohortOn()')
  .col-xs-11.col-md-5.col-md-offset-1
    h4 New Cohort:
    table.table-bordered.table-hover
      tr
        th.cohortBox Name
        th.cohortBox Username
        th.cohortBox E-mail
        th.cohortBox Remove from cohort
      tr(ng-repeat='cohortStudent in cohortStudents | filter: searchText : student.username')
        td.cohortBox {{cohortStudent.displayName}}
        td.cohortBox {{cohortStudent.username}}
        td.cohortBox {{cohortStudent.email}}
        td: button.btn.btn-xs.btn-danger.i.fa.fa-trash(ng-click='toggleCohortOff(); $event.stopPropagation();')
