.row
  .col-xs-10
    h4.bold.underline {{cohort.cohortName}} Students:
.row
  .col-xs-8.borderRight
    .filter.col-xs-12
      label
        | Filter: 
        input(ng-model='searchText')
.row
  .col-xs-12
    div(ng-repeat='student in students | filter: searchText : student.username')
      .col-md-3.col-xs-12
        .studentboxtwo
          h5 Name: {{student.displayName}}
          h5 Username: {{student.username}}
          h5 Email: {{student.email}}
